#############################
## Database Configuration  ##
#############################
MYSQL_ROOT_PASSWORD=wordpress
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress

#############################
## WordPress Configuration ##
#############################

# Version number and SHA1 verification (https://wordpress.org/download/releases/)
WORDPRESS_VERSION=5.1.1
WORDPRESS_SHA1=f1bff89cc360bf5ef7086594e8a9b68b4cbf2192

WORDPRESS_PORT=80
WORDPRESS_URL=http://localhost

# That's all folks.
